---
---

<footer>
  <p>
    &copy; {new Date().getFullYear()} SAGreenXYZ. Built with
    <a href="https://astro.build">Astro</a>.
  </p>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  footer a {
    color: inherit;
    text-decoration: underline;
  }
</style>
